@import "tailwindcss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease forwards;
}

.animate-fadeUp {
  opacity: 0;
  animation: fadeIn 0.7s ease forwards;
}

.animate-fadeUp.delay-100 {
  animation-delay: 0.1s;
}

.animate-fadeUp.delay-200 {
  animation-delay: 0.2s;
}
